body {
    margin: 0;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color: white;
}

.header-content {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    /* justify-content: center; */
    /* align-items: center; */
    border: 0px solid green;
}

.emp-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: darkolivegreen;
    font-weight: bold;
    text-transform: capitalize;
}

.emp-payroll {color: darkslategrey;}

* {box-sizing: border-box;}

.form-content {
    min-height: calc(100% - 80px);
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
}

.form {
    width: 65%;
    padding: 44px 60px;
    background: white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px lightslategrey;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    opacity: 1;
}

.form-head {
    letter-spacing: 0px;
    color: darkslategrey;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}

.row-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    border: 0px solid green;
}

.label {
    min-width: 140px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.text {
    font-size: 16px;
    color: black;
    opacity: 1;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.profile-radio-content {
    display: flex;
    flex-direction: row;
}

.profile-radio-content > label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile {
    width: 40px;
    border-radius: 50%;
    margin-left: 12px;
}