body {
    margin: 0;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color: white;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
}

.emp-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: darkolivegreen;
    font-weight: bold;
    text-transform: capitalize;
}

.emp-payroll {color: darkslategrey;}

* {box-sizing: border-box;}